* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 88px;
    background-color: ivory;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    padding: 8px;
    margin-right: auto;
}

.icon {
    max-height: 15px;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #eb314a;
    font-size: 16px;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #ff677c;
}

.cta {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    color: #ff677c;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: ivory;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #ff677c;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #eb314a;
   cursor: pointer;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    .overlay__content a {
        font-size: 25px;
    }
}

@media only screen and (max-width: 750px) {
    .nav__links,
    .cta {
        display: none;
    }

    .overlay__content a {
        font-size: 25px;
    }

    .menu {
        display: initial;
    }

    header {
        padding: 6px 15px;
    }

    .icon {
        max-height: 10px;
    }
}
